@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: oceanWideSemibold;
    src: url(assets/fonts/Oceanwide-Semibold.otf);
}

.bg-responsive-size {
    background-size: 100vh 100vh;
}

@media (orientation: landscape) {
    .bg-responsive-size {
        background-size: 100vw 100vw;
    }
}